*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.navbar{
    padding:1.5rem 2.5rem;
    border-bottom:1px solid #ddd;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

nav h2{
    font-size: 40px;
}

ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover{
    color: dodgerblue;
}

/*Conteúdo*/
.blog-container{
    display: flex;
    gap: 3rem;
    padding:2rem 2.5rem;
    max-width: 1200px;
    margin: 20px auto;
    border-bottom: 1px soild #ddd;
}

.blog{
    flex: 3 1 0;
    justify-content: center;
    align-items: center;
}

.content{
    margin-bottom: 2.5rem;
}

.content img{
    width: 100%;
}

/*box*/

.search{
    border: 1px solid #ddd;
    padding-bottom:10px;
    padding-left:10px;
    padding-right: 10px;
    height: 150px;
    margin-bottom:50px;
}

.search h3{
    font-size: 30px;
}

.search form{
    margin: 0 auto;
}

.search form input{
    height: 30px;
    border: 1px solid #ddd;
}

.search form input[type="submit"]{
    height: 34px;
    background-color: rgb(151, 187, 229);
}

.category{
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;
}

.category h3{
    font-size: 30px;
}

.category ul{
    padding: 0;
}

.category ul li{
    margin-bottom: 15px;
}

.footer{
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    text-align: center;
}





